# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# Keyboard layouts
keyboard --vckeymap=se --xlayouts='se'
# System language
lang en_US.UTF-8

# Firewall configuration
firewall --remove-service=ssh

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$y59GjA35$gRHdJncLnRbdHLxpr6lL1i7wgHN5yRasL..3jQPSOmTjUCAKHpU6FyHKjtpclMHk//8JR.gP8kNeo8XFLgbVr1
user --name=user --password=$6$xg3NFoRy$P3PisqLI9oajZmNFU6OaYSL9zM39NZ49odIgTVkqtgR/DhQBu1EoitoHviRK8e5t/NTc/HTxSsW3JpWATzaWl0 --iscrypted --gecos="User"
# System services
services --enabled="chronyd" --disabled="sshd"
# System timezone
timezone Etc/UTC --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel

%packages
@^gnome-desktop-environment
@base
@core
@desktop-debugging
@dial-up
@directory-client
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@java-platform
@multimedia
@network-file-system-client
@networkmanager-submodules
@print-client
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

# Reboot after installation
reboot

%post
yum -y remove initial-setup gnome-initial-setup
%end
